<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muzik">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_muziklogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuZik">
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".AudioPlayActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".PlaylistActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".MyPlaylistActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".AddSongToPlaylistActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <service android:name=".MediaPlayerService"/>
        <receiver android:name=".MediaPlayerNotificationActionReceiver"/>
        <receiver android:name=".AudioActionReceiver"/>
    </application>

</manifest>